<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div>
        <div id="nav">
            <h1>Pomocnik studenta</h1>
            <ul>
                <li><a href="">Link_Template</a></li>
            </ul>
        </div>
        <div id="main">
            <div id="information">
                <span>MONDAY, OCT 23</span>
                <span>Focus Mode: ON</span>
            </div>
            <div id="timer">
                <input type="number">
                <input type="number">
                <button></button>
                <button></button>
            </div>
            <div id="notification">
                <img src="" alt="Calendar_icon">
                <span>Calculus Workshop</span>
                <span>Starts in 15 mins</span>
                <a href="http://">Join Link</a>
            </div>
            <div id="tasks">
                <div id="header">
                    <img src="" alt="tiktok_verification">
                    <a href="">View all</a>
                </div>
                <div id="body">
                    <div>
                        <input type="checkbox" name="" id="">
                        <span>Example</span>
                        <span>HIGH</span>
                    </div>
                </div>
                <button>+ Quick Add Task</button>
            </div>
            <div id="calendar">
                <div id="header">
                    <img src="" alt="calendar_icon">
                    <span>Today's Calendar</span>
                    <a href="">Weekly view</a>
                </div>
                <div id="body">
                    <div id="time">
                        <span class="startTime">10:00</span>
                        <span class="endTime">12:30</span>
                    </div>
                    <div>
                        <span class="title">Macroeconomics 101</span>
                        <span>Hall 4B</span>
                        <span>*</span>
                        <span>Room 12</span>
                    </div>
                </div>
            </div>
            <div>
                <div id="prod_stats">
                    <div id="header">
                        <span>Productivity Stats</span>
                        <span>Last 7 days</span>
                    </div>
                    <div id="body"></div>
                </div>
                <div id="pomodora">
                    <span>Pomodoro Summary</span>
                </div>
            </div>
            <div>Recent Notes</div>
            <div>Quick Access</div>
            <div>Free block</div>
        </div>
    </div>
</body>
</html>